* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #383838;
    // overflow: hidden;
}


/* clearfix */
/* -------------------------------------------------------------------------------- */
.clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}