html {
    scroll-behavior: smooth;
}

.section_sevices {
    padding-top: 10px;
    height: 100vh;

}

.section_header {
    position: relative;
    margin-bottom: 50px;
}

.section_header::after {
    content: "";
    height: 2px;
    width: 240px;
    background-color: $color-hover;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);

}

.section_header h2 {
    text-align: center;
    text-transform: uppercase;
    color: $color-main;
    font-size: 28px;



}

.section_header h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 10px;
    color: red;
}