.section_aboutUs_img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_aboutUs {
    padding-top: 0px;
    min-height: 100vh;
}



.section_aboutUS_photo {
    max-width: 100%;
    height: auto;
    display: block;
}


.section_aboutUs .section_header {
    margin-bottom: 20px;
}

.section_aboutUs .header_container {
    text-align: left;
    margin-left: 50px;
}







.section_aboutUs_article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;

}

.section_aboutUs_text {
    line-height: 150%;
    margin-top: 0px;

}