.aboutUs.box {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}



.section_aboutUs .header_container,
.section_contact .header_container {
    margin-bottom: 0px;
}

.section_aboutUS_photo {
    max-width: 100%;
    height: auto;
    display: block;
}






.section_aboutUs_text {
    line-height: 150%;


}

.section_aboutUs_text P:first-child {
    margin-top: 0;
}

.aboutUs_button_container {
    margin-top: 35px;
}

.aboutUs_button_container a {
    display: inline-block;
}

@include bp(768px, 'max') {
    .aboutUs.box {
        margin: 0 auto 45px auto;

    }

    .section_aboutUs .header_container {
        text-align: center;
    }

    .aboutUs_button_container {
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
}