.section_contact {
    background-color: white
}

#contact {
    margin-bottom: 60px;
    padding-top: 65px;

}

#contact .section_header {
    margin-bottom: 0px;
}



.section_contact .banner_text.container {
    margin-bottom: 0px;

}


// Formularz kontaktowy


label {
    @include visuallyhidden();
}


.contact_data textarea {
    resize: none;
}

.contact_data input,
.contact_data textarea {
    max-width: 100%;
    padding: 12px;
    border: 1px solid #C4C4C4;
    font-family: inherit;
    border-radius: 7px;



    &:focus {

        outline: none;

    }
}

input#name,
input#phone,
input#email,
textarea {
    &:focus {
        background-color: $color-background;
    }
}


.message {
    margin: 0 auto;
    max-width: 650px;

}

.g-recaptcha {
    transform: scale(0.70);
    transform-origin: 0 0;

}

div.wpcf7-form-control-wrap {
    max-width: 220px;
}


.submit_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;



}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .submit_container {
        justify-content: space-around;
    }
}

@supports (-ms-ime-align:auto) {
    .submit_container {
        justify-content: space-around;
    }
}




// style ogolnie w clss.scss ze stylami button
.wpcf7-form-control.wpcf7-submit {
    padding: 10px 30px;
    margin-top: 3px;

}


span.wpcf7-not-valid-tip {
    width: 400px;
}


@include bp(1200px, 'max') {
    .message {
        max-width: 600px;
    }

}


@include bp(1100px, 'max') {
    .message {
        max-width: 550px;
    }

    div.wpcf7-form-control-wrap {
        padding-left: 20px;
    }


}


@include bp(1000px, 'max') {
    .g-recaptcha {
        transform: scale(0.65);

    }


    .wpcf7-form-control.wpcf7-submit {
        padding: 8px 18px;
        font-size: 16px;
    }

}

@include bp(768px, 'max') {
    .message {
        margin: 0;
    }

    .submit_container {
        flex-direction: column;


    }

    div.wpcf7-form-control-wrap {
        padding-left: 0px;
    }

    .recaptcha {
        margin-right: 35px;

    }

    .wpcf7-form-control.wpcf7-submit {
        margin-top: 6px;

    }
}


@include bp(525px, 'max') {

    .g-recaptcha {
        transform: scale(0.63);

    }

    .wpcf7-form-control.wpcf7-submit {
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 8px;
    }
}


@include bp(480px, 'max') {
    .submit_container {
        flex-direction: column;
    }

    div.wpcf7-form-control-wrap {
        padding-left: 5px;
    }

    .wpcf7-form-control.wpcf7-submit {
        margin-top: 0px;
        margin-left: 5px;
    }
}



//ostylowanie button contactform w scss class




.col-12-12.rodo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;



}





.rodo p {
    font-size: 14px;
    padding-left: 15px;
    max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $color-background inset !important;


}


.rodo a {
    font-weight: 600;
    color: $color-main;

}



// plugin style zmiana
div.wpcf7-response-output {
    border: none !important;
    color: #ff0000;
    margin-top: 0 !important;

}

div.wpcf7-mail-sent-ok {
    color: $color-hover;
    border: none !important;
    margin-top: 0 !important;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    color: #ff0000;
    border: none !important;
    margin-top: 0 !important;
}

div.wpcf7-spam-blocked {
    color: #ff0000;
    border: none !important;
    margin-top: 0 !important;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    color: #ff0000;
    border: none !important;
    margin-top: 0 !important;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    border: none !important;
    color: #ff0000;
    margin-top: 0 !important;

}


// Dane adresowe
.contact_adress {
    margin-top: 40px;

}


.address_address strong:nth-of-type(2) {
    text-decoration: underline;
}


.contact_address.address,
.contact_address.mail,
.contact_address.job,
.contact_address.fb,
.contact_address.calendar {
    display: block;
    max-width: 30px;
    height: auto;
    margin-right: 15px;
}


@-moz-document url-prefix() {

    .contact_address.address,
    .contact_address.mail,
    .contact_address.job,
    .contact_address.fb,
    .contact_address.calendar {
        width: 30px;

    }
}


.address_container,
.phone_container {
    display: flex;
}

.contact_container {
    display: flex;
    flex-direction: column;
}

.image_box img {
    width: 100%;
}


.address_address,
.address_phone,
.address_hours {
    margin-top: 0px;

}

.address_phone {
    margin-bottom: 20px;
}

.address_phone a {
    text-decoration: none;
    color: $color-main;
}

.address_hours {
    margin-bottom: 0px;

}



.mail_link,
.fb_link,
.job_link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $color-main;
    text-decoration: none;
    font-weight: 600;
}

.mail_box,
.fb_box {
    margin-bottom: 20px;

}





@include bp(992px, 'max') {

    .contact_address.address,
    .contact_address.mail,
    .contact_address.job,
    .contact_address.fb,
    .contact_address.calendar {
        margin-right: 10px;
    }


}



@include bp(850px, 'max') {

    .contact_address.address,
    .contact_address.mail,
    .contact_address.job,
    .contact_address.fb,
    .contact_address.calendar {
        max-width: 20px;
        height: auto;
        margin-right: 5px;
    }


    .col-4-12.contact_container,
    .col-4-12.phone_container {
        padding-left: 0px;
    }



}

@include bp(768px, 'max') {


    .contact_address.address,
    .contact_address.mail,
    .contact_address.job,
    .contact_address.fb,
    .contact_address.calendar {

        max-width: 30px;
        height: auto;
        margin-right: 15px;
    }

    .col-4-12.phone_container {
        flex-direction: row;
    }

    .col-4-12.address_container {
        margin-bottom: 20px;
    }


    .col-4-12.contact_container,
    .col-4-12.phone_container {
        padding-left: 15px;
    }



}





@include bp(370px, 'max') {


    .contact_address.address,
    .contact_address.mail,
    .contact_address.job,
    .contact_address.fb,
    .contact_address.calendar {
        max-width: 20px;
    }

    .contact_address.address,
    .contact_address.mail,
    .contact_address.job,
    .contact_address.fb,
    .contact_address.calendar {
        margin-right: 10px;
    }



}


// mapa

.main_map {
    height: 500px;
}