#contact {
    padding-top: 20px;
    min-height: 100vh;
}

#contact .section_header {
    margin-bottom: 0px;
}



// Formularz kontaktowy


label {
    @include visuallyhidden();
}


.contact_data textarea {
    resize: none;
}

.contact_data input,
.contact_data textarea {
    padding: 12px;
    border: 1px solid #C4C4C4;
    font-family: inherit;
    border-radius: 7px;

    background-color: #F9F9F9;

    &:focus {
        border-color: #333;
        outline: none;


    }
}

.g-recaptcha {

    transform: scale(0.70);
    transform-origin: 0 0;


}

.submit_container {
    display: flex;
    margin-top: 20px;
    padding-left: 30px;
    // align-items: center;
}


//ostylowanie button contactform w scss class




.col-12-12.rodo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;

}

.wpcf7-list-item input {
    width: 18px;
    height: 18px;
}

.rodo p {
    font-size: 14px;
    padding-left: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #EBECF1 inset !important;


}


.rodo a {
    font-weight: 600;
    color: $color-main;

}



// plugin style zmiana
div.wpcf7-response-output {
    border: none !important;
    color: #ff0000;
    margin-top: 0 !important;

}

div.wpcf7-mail-sent-ok {
    color: $color-hover;
    border: none !important;
    margin-top: 0 !important;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    color: #ff0000;
    border: none !important;
    margin-top: 0 !important;
}

div.wpcf7-spam-blocked {
    color: #ff0000;
    border: none !important;
    margin-top: 0 !important;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    color: #ff0000;
    border: none !important;
    margin-top: 0 !important;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    border: none !important;
    color: #ff0000;
    margin-top: 0 !important;

}


// Dane adresowe
.contact_adress {
    margin-top: 50px;
}

.contact_adress .col-1-12 {
    padding-right: 0px;
}

.contact_address.address {
    display: block;
    width: 40px;
    height: auto;

}

.address_address strong:nth-of-type(2) {
    text-decoration: underline;
}

.contact_address.mail,
.contact_address.job,
.contact_address.fb {
    display: block;
    width: 35px;
    height: auto;
    margin-right: 15px;
}


.image_box {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}


.address_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.address_address,
.address_hours,
.address_phone {
    margin-top: 5px;
    margin-bottom: 5px;


}


.mail_link,
.fb_link,
.job_link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $color-main;
    text-decoration: none;
    font-weight: 600;
}

.mail_box {
    margin-top: 5px;
    margin: 0 auto;
    width: 260px;
}

.mail_link {

    margin-bottom: 15px;
}

.job_box {
    margin-top: 5px;
    margin: 0 auto;
    width: 150px;
}

// mapa

.main_map {
    height: 500px;
}