// .section_aboutUs {
//     min-height: 100vh;
// }

.aboutUs.box {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

@include bp(768px, 'max') {
    .aboutUs.box {
        margin: 0;
        margin-bottom: 45px;
    }

}


.section_aboutUS_photo {
    max-width: 100%;
    height: auto;
    display: block;
}


.section_aboutUs .header_container,
.section_contact .header_container {
    margin-bottom: 0px;
}



.section_aboutUs_text {
    line-height: 150%;


}

.section_aboutUs_text P:first-child {
    margin-top: 0;
}