.page_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.page_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact_nav {
    width: 100%;

}

.contact_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;


}

.contact_nav_list li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 12px;
}

.contact_nav_list img {
    display: block;
    width: 20px;
    margin-right: 5px;
    height: auto;


}

.contact_menu::after {
    display: block;
    content: "";
    height: 1px;
    background-color: $color-main;
}

.header_logo {
    display: flex;
    align-items: center;
    width: 300px;

}

.header_logo h1 {
    margin: 0px;
    margin-top: 8px;
}

.page_logo img {
    max-width: 100%;
    height: auto;
}

.NFZ_logo img {
    margin-left: 14px;
    max-width: 50%;
    height: auto;

}



.page_nav_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page_nav_list li {
    padding: 15px 7px;
}

.page_nav_list a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-main;
    font-size: 18px;
    font-weight: 800;
    display: block;
    transition: 0.3s color;
}

.page_nav_list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: $color-hover;
    left: 50%;
    right: 50%;
    opacity: 0;
    transition: 0.5s left, 0.5s right, 0.5s opacity;


}

.page_nav_list a:hover {
    color: $color-hover;
}


.page_nav_list a:hover::after {
    left: 0;
    right: 0;
    opacity: 1;

}