.page_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.page_hero .page_header {
    width: 100%;
}

.page_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    // width: 100vw;
}

.contact_nav {
    width: 100%;

}

.contact_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;


}

.contact_nav_list li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 12px;
}

.contact_nav_list img {
    display: block;
    width: 20px;
    margin-right: 5px;
    height: auto;


}

.contact_menu::after {
    display: block;
    content: "";
    height: 1px;
    background-color: lighten($color-main, 40%);
}

.header_logo {
    display: flex;
    align-items: center;
    max-width: 300px;

}

.header_logo h1 {
    margin: 0px;
    margin-top: 8px;
}

.page_logo img {
    width: 145px;
    height: auto;
}



.NFZ_logo img {
    margin-left: 14px;
    height: auto;
    width: 80px;

}



.page_nav_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page_nav_list li {
    padding: 15px 7px;
}

.page_nav_list a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-main;
    font-size: 18px;
    font-weight: 800;
    display: block;
    transition: 0.3s color;
}

.page_nav_list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: $color-hover;
    left: 50%;
    right: 50%;
    opacity: 0;
    transition: 0.5s left, 0.5s right, 0.5s opacity;


}

.page_nav_list a:hover {
    color: $color-hover;
}


.page_nav_list a:hover::after {
    left: 0;
    right: 0;
    opacity: 1;

}




// menu hamburger
.toggle-main-nav {
    display: none;
    right: 10px;
    top: 7px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    cursor: pointer;

    span {
        display: block;
        background: $color-main;
        height: 6px;
        width: 80%;
        margin: 5px auto;
        border-radius: 2px;
        transition: 0.5s;
    }

    &:focus {
        outline: none;
    }
}

// dodatkowe menu
.page_nav.home {
    display: none;
}

// @media (max-width:1750px) {
//     .main-header {
//         .main-nav {
//             a {
//                 padding: 0 10px;
//             }
//         }
//     }
// }

// @media (max-width:1600px) {
//     .main-header {
//         .main-nav {
//             a {
//                 padding: 0 10px;
//                 font-size: 16px;
//             }
//         }
//     }
// }

// @media (max-width:1200px) {
//     .main-header {
//         .main-nav {
//             a {
//                 font-size: 14px;
//             }
//         }
//     }
// }

// @media (max-width:1095px) {
//     // .page_header .container {
//     //     display: block;
//     // }

//     // .header_logo {
//     //     margin: 0 auto;
//     // }

//     // .page_nav {
//     //     margin: 0 auto;
//     //     display: inline-block;
//     // }

//     //     .main-header {
//     //         text-align: center;

//     //         .main-logo {
//     //             float: none;
//     //             margin: 0 auto;
//     //             display: inline-block;
//     //         }

//     //         .main-nav {
//     //             float: none;
//     //             padding: 20px 0;
//     //             margin: 0 auto;
//     //             display: inline-block;

//     //             a {
//     //                 font-size: 16px;
//     //                 line-height: 30px;
//     //             }
//     //         }
//     //     }
// }

@media (max-width:760px) {

    .toggle-main-nav {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
    }

    .toggle-main-nav:hover span {
        background: darken($color-hover, 2%);
    }

    .page_hero .page_nav {
        display: none;
    }

    .page_nav.home {
        display: block;
    }



    .header_logo {
        margin: 0 auto;
    }

    // .page_header.home .page_nav {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    // }

    .page_nav {
        position: fixed;
        top: 0;
        left: -320px;
        width: 300px;
        height: 100vh;
        background: white;
        transition: 1s left;
        box-shadow: 1px 0 10px rgba(black, 0.4);



        &.show {
            left: 0;
            z-index: 100;
        }

        li {
            display: block;
            text-align: center;
            border-bottom: 1px solid lighten($color-main, 50%);

        }

        // a {
        //     display: block;
        //     padding: 20px 0;
        //     color: #fff;

        //     &:hover {
        //         color: #fff;
        //         background: rgba(#fff, 0.1);
        //     }
    }


    .page_nav_list {
        flex-direction: column;
        justify-content: center;

    }

    .page_nav_list a::after {
        display: none;
    }


}