aside h2 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.aside_nav_list {
    list-style: none;
    padding: 0;
    // padding-top: 10px;
    margin: 0;


}

.aside_nav_list li {
    margin-bottom: 20px;
}


.sidebar_box {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.sidebar_box img {
    display: block;
    width: 110px;
    height: auto;
    margin-right: 25px;
    margin-left: 8px;


}

.sidebar_tittle {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: $color-main;
}

.sidebar_tittle_container h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

aside {
    position: relative;
}


aside::after {
    content: "";
    height: 1px;
    width: 720px;
    background-color: $color-hover;
    position: absolute;
    transform: rotate(90deg);
    top: 360px;
    right: 0;

}