@mixin visuallyhidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;

    .focusable:active,
    .focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}


//-------------------------------------
//breakpoints
//.page-wrap {
//	 width: 75%;
//
//	 @include bp(#bpSmall) { width: 60%; }
//	 @include bp(420px) { width: 60%; }
//}
//-------------------------------------
@mixin bp($point, $direction : 'max') {
    @media screen and (#{$direction}-width: $point) {
        @content;
    }
}

//-------------------------------------
//breakpoint height
//   @include bph(200) { ... }
//-------------------------------------
@mixin bph($point, $direction : 'max') {
    @media screen and (#{$direction}-height: $point) {
        @content;
    }
}

//-------------------------------------
//breakpoint custom
//    @include bpc("(max-width:200px) and (min-height:200)") {...}
//-------------------------------------
@mixin bpc($code, $direction : 'max') {
    @media screen and #{$code} {
        @content;
    }
}