$color-main: #333333;
$color-hover: #30aebe;
$color-background: #fafafa;


body {
    background-color: $color-background;
}


// moje stare
// $color-main: #383838;
// $color-hover: #08BDD4;
// background-color: #f2f2f2;