$color-main: #333333;
$color-hover: #30aebe;
$color-background: #faf9f9;



// moje stare
// $color-main: #383838;
// $color-hover: #08BDD4;
// background-color: #f2f2f2;//
//  $color-background: #fafafa;